<!-- EAEAFF is light blue -->
<!-- 2B3856 is dark blue -->
<!-- FFFFFF is cream -->
<!-- #4D7700 is dark green -->

<style type="text/css">
/*This is a comment*/

.spacebelow {
     margin-bottom: 8;
  }

/*
header{
  font: 25pt arial;
  color: black;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 0px rgba(0,0,0,0.15);
  padding: 0 20px;
  margin: 0px 0px;
  border-radius: 0px;
  list-style: none;
  position: relative;
  display: inline-table;
  width: 100%;
}
*/

img{display: block;
    border-radius: 0px}

img.header{display: block;
    border-radius: 0px;
    float:right}

/*table{
  font: 13pt arial;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 0px rgba(0,0,0,0.15);
  padding: 0px 20px;
  border-radius: 0px;
  list-style: none;
  position: relative;
  display: inline-table;
  width: 100%;
}*/

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

th {
  text-align: left;
  padding: 8px;
  width: 20%;
}

td {
  width: 100%;
  word-wrap: break-word;
  padding: 8px;
}


body
{
  color: #000;
  background-color: #2B3856;
  background-color: #FFFFFF;
  padding: 1.5em;
  margin: 0;
  font: 13pt Arial;
}

h1
{
  font-size: 50px;
}

h2
{
  margin: 1.0em;
}


p {
margin: 3.0em;
margin-top: 1em;
margin-bottom: 1em;
}

ol {
margin: 4.0em;
margin-top: 1em;
margin-bottom: 1em;
}

ul {
margin: 4.0em;
margin-top: 1em;
margin-bottom: 1em;
}

li {
margin-bottom: 1em;
}

a:link
{
  color: black;
	text-decoration: underline;
}

a:hover
{
	color: black;
  background-color: #fbd383;
	text-decoration: none;
}

a:visited
{
	color: black;
	text-decoration: none;
}

img.thumbnails
{
   width:100px;
   height:100px;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 45%;
  padding: 5px;
}

.two {
  width: 50%;
}

/* Clear floats after image containers 
.row::after {
  content: "";
  clear: both;
  display: table;
}
*/

/*
  Rollover Image
 */
.figure {
    position: relative;
    max-width: 100%;
}
.figure img.image-hover {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  object-fit: contain;
  opacity: 0;
  transition: opacity .2s;
}

.figure:hover img.image-hover {
  opacity: 1;
}


/* 
  Responsive Columns
*/
* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: block;
}

[class*="col-"] {
  float: left;
  padding: 0px;
}

html {
  font-family: "Lucida Sans", sans-serif;
}

.header {
  background-color: #ffffff;
  color: #ffffff;
  padding: 0px;
}

.footer {
  background-color: #0099cc;
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  padding: 15px;
}

/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/*
@media only screen and (max-width: 600px) {
  [class*="col-"] {
    width: 100%;
  }
}
*/

</style>